<?xml version="1.0"?>
<launch>
    <!-- <arg name="move_base" default="false"/>
    <arg name="odom_topic" default="/tracker/odom/sample"/>
    <arg name="scan_topic" default="/cloud2scan"/> 
    <arg name="localization_topic" default="/localization"/>-->
    <arg name="graph_map_location" default="$(find go1_autonomy)/vectormaps"/>
    <arg name="graph_map_name" default="AHG_Apartment_temp"/>

    <param name="use_sim_time" value="false"/>

    <!-- ENML -->
    <node pkg="go1_autonomy" type="enml_go1" name="non_markov_localization_go1" output="screen"
        args="--config_dir $(find go1_autonomy)/config --robot_config go1.lua --maps_dir $(find go1_autonomy)/vectormaps -d1" />
    <node pkg="go1_autonomy" type="navigation_go1" name="navigation_go1" output="screen"
        args="--map $(arg graph_map_name) --maps_dir $(arg graph_map_location)" >
        <remap from="/navigation/cmd_vel" to="/cmd_vel"/>
    </node>

</launch>
